.contact {
  background-color: #635F5F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.contact main {
  flex-grow: 1;
  display: flex;
  margin: 30px auto 20px;
}
.contact main .left {
  margin-top: 60px;
  margin-right: 60px;
}
.contact main .left img {
  border-radius: 100%;
}
.contact main .right {
  color: #C997B2;
  font-size: 36px;
}
.contact main .right h2 {
  font-family: segoeprint;
  margin-bottom: 50px;
}
.contact main .right form input[type=text] {
  width: 40%;
  line-height: 50px;
  padding-left: 10px;
  margin-bottom: 20px;
  background-color: #928181;
  border: none;
}
.contact main .right form input[type=text]::-webkit-input-placeholder {
  color: #C997B2;
  font-size: 30px;
}
.contact main .right form textarea {
  width: calc(80% + 10px);
  padding-left: 10px;
  background-color: #928181;
  border: none;
}
.contact main .right form textarea::-webkit-input-placeholder {
  color: #C997B2;
  font-size: 30px;
  font-weight: bold;
}
.contact main .right form input[type=submit] {
  margin-top: 20px;
  color: #C997B2;
  font-size: 30px;
  padding: 10px;
  background-color: #6A4A4A;
  border: none;
}
.contact .add {
  background-color: #C6C5C5;
  color: #967E98;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  margin: 60px 0 30px;
}
