@font-face {
  font-family: segoeprint;
  src: url(../fonts/segoeprint.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: auto;
}
header.common {
  margin-top: 20px;
}
header.common nav {
  display: flex;
  justify-content: space-between;
}
header.common h3 {
  color: #C997B2;
  font-size: 36px;
}
header.common ul {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
header.common ul li {
  margin-left: 10px;
}
header.common ul li a {
  display: inline-block;
  background-color: white;
  text-decoration: none;
  font-size: 18px;
  color: #444;
  padding: 5px;
}
footer.common {
  text-align: center;
  background-color: white;
}
footer.common img {
  height: 80px;
}
