@font-face {
  font-family: segoeprint;
  src: url(../fonts/segoeprint.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.title {
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
  font-family: segoeprint;
  color: white;
  font-weight: bolder;
}
.title span {
  border-bottom: 4px solid white;
}
header.common {
  background-color: #1B242F;
  position: fixed;
  width: 100%;
  z-index: 999;
  border-bottom: 3px solid #04c2c9;
}
header.common nav {
  display: flex;
  justify-content: space-between;
}
header.common img {
  height: 60px;
}
header.common ul {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
header.common ul li {
  margin: 0 20px;
}
header.common ul li.active a {
  color: #e31b6d;
}
header.common ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 5px;
  transition: all 0.5s;
}
header.common ul li a:hover {
  color: #e31b6d;
}
footer.common {
  text-align: center;
  background-color: white;
}
footer.common img {
  height: 80px;
}
@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.homepage main {
  padding-top: 64px;
}
.homepage main #index {
  height: calc(100vh - 64px);
  background-image: url(../images/index/background1.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: gray;
  font-size: 32px;
  font-family: segoeprint;
}
.homepage main #index .item {
  animation-name: zoomInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.homepage main #index .item1 {
  margin: 10px 0 10px 100px;
  animation-delay: 0;
}
.homepage main #index .item2 {
  margin: 0 0 20px 60px;
  animation-delay: 1s;
}
.homepage main #index .item2 img {
  width: 80px;
}
.homepage main #index .item3 {
  margin: 0 0 20px 60px;
  animation-delay: 2s;
}
.homepage main #index .item3 img {
  width: 200px;
}
.homepage main #index .item4 {
  margin-bottom: 50px;
  animation-delay: 3s;
}
.homepage main #index .item5 {
  animation-delay: 4s;
}
.homepage main #gallery {
  padding: 60px 0;
  background-color: #1B242F;
}
.homepage main #gallery h1 {
  font-weight: normal;
  font-size: 36px;
  font-family: segoeprint;
  text-align: center;
  color: #C997B2;
  padding: 30px 0;
}
.homepage main #gallery .carousel .case_box {
  position: relative;
  height: 800px;
  overflow: hidden;
}
.homepage main #gallery .carousel .case_box .prev {
  text-indent: -9999px;
  background: url(../images/gallery/previous.png) no-repeat;
  left: 20px;
}
.homepage main #gallery .carousel .case_box .next {
  background: url(../images/gallery/next.png) no-repeat;
  top: 40%;
  right: 20px;
}
.homepage main #gallery .carousel .case_box p {
  z-index: 2;
  position: absolute;
  text-indent: -9999px;
  width: 28px;
  height: 51px;
  top: 40%;
  cursor: pointer;
}
.homepage main #gallery .carousel .case_box ul {
  position: absolute;
  height: 800px;
  overflow: hidden;
  top: 0px;
  left: 0px;
}
.homepage main #gallery .carousel .case_box ul li {
  float: left;
  height: 800px;
  width: 100vw;
}
.homepage main #gallery .carousel .case_box ul li img {
  width: 100%;
  height: 100%;
}
.homepage main #gallery .carousel .case_box ol {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin: 0 0 0 -65px;
  height: 12px;
  z-index: 99;
}
.homepage main #gallery .carousel .case_box ol li {
  float: left;
  margin: 0 4px;
  display: inline;
  width: 12px;
  height: 12px;
  line-height: 999em;
  background: url(../images/gallery/pagination.png) no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.homepage main #gallery .carousel .case_box ol li.active {
  background-position: 0 -12px;
}
.homepage main #contact {
  background-color: #1B242F;
  min-height: 100vh;
}
.homepage main #contact .container {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.homepage main #contact .left {
  margin-top: 60px;
  margin-right: 60px;
}
.homepage main #contact .left img {
  border-radius: 100%;
}
.homepage main #contact .right {
  color: #C997B2;
  font-size: 28px;
}
.homepage main #contact .right h2 {
  font-family: segoeprint;
  margin-bottom: 50px;
}
.homepage main #contact .right form input[type=text] {
  width: 40%;
  line-height: 50px;
  padding-left: 10px;
  margin-bottom: 20px;
  border: none;
}
.homepage main #contact .right form input[type=text]::-webkit-input-placeholder {
  color: #C997B2;
  font-size: 30px;
}
.homepage main #contact .right form textarea {
  width: calc(80% + 10px);
  padding-left: 10px;
  border: none;
}
.homepage main #contact .right form textarea::-webkit-input-placeholder {
  color: #C997B2;
  font-size: 30px;
  font-weight: bold;
}
.homepage main #contact .right form input[type=submit] {
  margin-top: 20px;
  color: #C997B2;
  font-size: 30px;
  padding: 10px;
  background-color: #6A4A4A;
  border-radius: 6px;
  border: none;
}
.homepage .add {
  background-color: #C6C5C5;
  color: #967E98;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  margin: 60px 0 30px;
}
.thanks {
  background-image: url(../images/thanks/f_moon.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
}
.thanks .inner {
  color: #B6558A;
  text-align: center;
}
.thanks .inner h1 {
  padding: 120px 0 280px;
  font-size: 50px;
  font-weight: normal;
}
.thanks .inner .text p {
  font-size: 24px;
  line-height: 1.8;
}
.thanks .inner a {
  display: inline-block;
  margin-top: 30px;
  background-color: dodgerblue;
  padding: 10px;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}
.detail .big-img {
  text-align: center;
  padding: 60px 0;
}
.detail .big-img img {
  max-width: 60%;
}
.detail .imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.detail .imgs .img {
  width: 280px;
  height: 210px;
  margin-bottom: 20px;
}
.detail .imgs .img img {
  width: 100%;
  height: 100%;
}
